<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.droidbrew.decube"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:name="DecubeApp"
        android:allowBackup="true"
        android:icon="@drawable/rounded_corners"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="QuestionActivity"
            android:label="@string/name_question_activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="EditQuestionActivity"
            android:label="@string/change"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="AnswerActivity"
            android:label="@string/menu_answer"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="EditAnswerActivity"
            android:label="@string/change"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>